<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" data-rule="required" class="form-control" name="row[mobile]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-number" data-rule="required" class="form-control" name="row[number]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-date" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[date]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_by')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_by" data-rule="required" class="form-control" name="row[add_by]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Quyu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-quyu" class="form-control" name="row[quyu]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Taocanmingchen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-taocanmingchen" class="form-control" name="row[taocanmingchen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Taocanjine')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-taocanjine" class="form-control" name="row[taocanjine]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shifoquanqiutong')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shifoquanqiutong" class="form-control" name="row[shifoquanqiutong]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zhekou')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zhekou" class="form-control" name="row[zhekou]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shifokuandai')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shifokuandai" class="form-control" name="row[shifokuandai]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Arpu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-arpu" class="form-control" name="row[arpu]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Quanzhongzhi')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-quanzhongzhi" class="form-control" name="row[quanzhongzhi]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jizhanmingchen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jizhanmingchen" class="form-control" name="row[jizhanmingchen]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jizhanquyuguishu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jizhanquyuguishu" class="form-control" name="row[jizhanquyuguishu]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ruwangqudao')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ruwangqudao" class="form-control" name="row[ruwangqudao]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ruwangshijian')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ruwangshijian" class="form-control" name="row[ruwangshijian]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Heyueleixing')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-heyueleixing" class="form-control" name="row[heyueleixing]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Heyuedaoqishijian')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-heyuedaoqishijian" class="form-control" name="row[heyuedaoqishijian]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Chengquxiangzhen')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-chengquxiangzhen" class="form-control" name="row[chengquxiangzhen]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
